src/main/mule/wday-demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns:workday="http://www.mulesoft.org/schema/mule/workday"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/workday http://www.mulesoft.org/schema/mule/workday/current/mule-workday.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<workday:config-version-30-config name="Workday_Config_version_30" doc:name="Workday Config version 30" doc:id="aff5d495-1c29-4b3e-8bf2-e395eaaf8b6f" >
		<workday:basic-authentication-api-v30-connection username="${wday.user}" password="${wday.pass}" tenantName="${wday.tenant}" responseTimeout="50000" />
	</workday:config-version-30-config>
	<salesforce:sfdc-config name="Salesforce_Config" doc:name="Salesforce Config" doc:id="2910732e-7b1b-4bf2-b909-bad0117cdce9" >
		<salesforce:cached-basic-connection username="${sfdc.user}" password="${sfdc.pass}" />
	</salesforce:sfdc-config>
	<configuration-properties doc:name="Configuration properties" doc:id="5ba14026-05ee-49b6-a1d7-2f5f056166f7" file="appConfig.properties" />
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="32826fbb-160a-4488-8dc6-23a0744ca236" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="wday-demoFlow" doc:id="ad423024-d0d8-48ce-9cfd-4e6d9cb6c915" >
		<http:listener doc:name="Poller" doc:id="aca25c0c-e17a-4324-b550-135a311086cd" path="/test" config-ref="HTTP_Listener_config"/>
		<ee:transform doc:name="Create Workday Request" doc:id="3c634d67-5787-43e2-9dbf-ba4784a14d5c" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 urn:com.workday/bsvc
---
{
	ns0#Get_Workers_Request: {
		ns0#Request_Criteria: {
			ns0#Exclude_Inactive_Workers: true,
			ns0#Transaction_Log_Criteria_Data: [{
				ns0#Transaction_Date_Range_Data: {
					ns0#Updated_From: "2019-07-07T03:00:59Z" as DateTime,
					ns0#Updated_Through: now()
				},
				ns0#Transaction_Type_References: {
					ns0#Transaction_Type_Reference: [ {
						ns0#ID @(ns0#"type" : "Business_Process_Type") : "Hire Employee"
					} ]
				}
			}]
		},
		ns0#Response_Group: {
			ns0#Include_Personal_Information: true
		}
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<workday:human-resources operation="Get_Workers" doc:name="Get Workers from Workday" doc:id="0549322d-3cc2-4412-8952-290f4aa73983" config-ref="Workday_Config_version_30" target="response" targetValue="#[output application/json --- payload]"/>
		<scatter-gather doc:name="Run-Parallel" doc:id="28d989da-ef44-41b4-bf90-3f9d6fd8f932" >
			<route >
				<ee:transform doc:name="Transform for SFDC User" doc:id="a9e82ffe-dae2-462b-867e-57740ded153c">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
if (vars.response.Get_Workers_Response.Response_Data != null) 
	[(vars.response.Get_Workers_Response.Response_Data.*Worker map(worker) -> {
	FirstName: worker.Worker_Data.Personal_Data.Name_Data.Legal_Name_Data.Name_Detail_Data.First_Name,
	LastName: worker.Worker_Data.Personal_Data.Name_Data.Legal_Name_Data.Name_Detail_Data.Last_Name,
	Alias: worker.Worker_Data.Personal_Data.Name_Data.Legal_Name_Data.Name_Detail_Data.First_Name[0 to 2] ++ worker.Worker_Data.Personal_Data.Name_Data.Legal_Name_Data.Name_Detail_Data.Last_Name[0 to 2],
	Username: worker.Worker_Data.Personal_Data.Name_Data.Legal_Name_Data.Name_Detail_Data.First_Name[0 to 2] ++ worker.Worker_Data.Personal_Data.Name_Data.Legal_Name_Data.Name_Detail_Data.Last_Name[0 to 2] ++ "@sf.com",
	Email: worker.Worker_Data.Personal_Data.Contact_Data.Email_Address_Data.Email_Address,
	CommunityNickname: worker.Worker_Data.Personal_Data.Contact_Data.Email_Address_Data.Email_Address,
	LanguageLocaleKey: "en_US",
	LocaleSidKey: "en_US",
	TimeZoneSidKey: "America/New_York",
	EmailEncodingKey: "ISO-8859-1",
	ProfileID: "00e2E000001LlN4"
})[-1]]
else []]]></ee:set-payload>
			</ee:message>
		</ee:transform>
				<salesforce:create type="User" doc:name="Create User" doc:id="59dd11d5-67c2-4196-aa50-62a27bb79b95" config-ref="Salesforce_Config" />
				<logger level="INFO" doc:name="Log Result" doc:id="c8355821-3a70-4805-9332-2a45da5e0842" message="#[payload]" />
			</route>
			<route >
				<ee:transform doc:name="Transform for SFDC Contact" doc:id="b5de638f-d1c7-4d42-942d-4c0556a77d71">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
if (vars.response.Get_Workers_Response.Response_Data != null) 
	[(vars.response.Get_Workers_Response.Response_Data.*Worker map(worker) -> {
	FirstName: worker.Worker_Data.Personal_Data.Name_Data.Legal_Name_Data.Name_Detail_Data.First_Name,
	LastName: worker.Worker_Data.Personal_Data.Name_Data.Legal_Name_Data.Name_Detail_Data.Last_Name,
	Email: worker.Worker_Data.Personal_Data.Contact_Data.Email_Address_Data.Email_Address,
})[-1]]
else []]]></ee:set-payload>
			</ee:message>
		</ee:transform>
				<salesforce:create type="Contact" doc:name="Create Contact" doc:id="5b5aee66-fc6e-4ff9-b81d-c4ce0ff4077a" config-ref="Salesforce_Config" />
				<logger level="INFO" doc:name="Log Result" doc:id="2c77b2f6-61b6-443d-b083-1ec09f9f0c4a" message="#[payload]" />
			</route>
		</scatter-gather>
		<ee:transform doc:name="Show Results" doc:id="a22aa097-93d7-4df9-ad57-e38fdcafc3e7" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
    userStatus : payload[0].payload,
    contactStatus : payload[1].payload
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
